@import "webfonts";

$brand-blue: #1B45E1;
$brand-red: #EC1A3D;
$brand-black: #122C3F;

$brand-transition-curve: cubic-bezier(0.43, 0.58, 0.1, 0.9);

$collapse-breakpoint: 992px;

html, body {
    font-family: "Fabriga", -apple-system-body, Helvetica, sans-serif;
    color: $brand-black;
    height: 100%;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p a,
p a:visited {
    font-weight: bold;
    color: $brand-blue;
    text-decoration: none;
    border-bottom: 1px dotted fade-out($brand-blue, 0.2);

    transition: all 0.3s $brand-transition-curve;
    &:hover {
        text-decoration: none;
        padding-bottom:0.15em;
    }
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    color: #fff;
    font-weight: normal;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: $brand-blue;
    letter-spacing: 0.5px;
    margin: 1em 0;
}

h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: $brand-red;
    letter-spacing: 0.7px;
    margin: 2em 0 1em 0;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

p.sm {
    font-size: 0.9em;
}

p.xs {
    font-size: 0.75em;
}

p.dropcap::first-letter {
    font-size: 3.2em;
    float: left;
    line-height: 1em;
    margin-right: 0.125em;
    font-weight: bold;
    color: $brand-red;
}

.display-block {
    display: block;
}

// BUTTONS

.btn-default {
    height: 3em;
    line-height: 1.647058824em;
    background: $brand-red;

    color: #fff;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1px;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    border: 2px solid $brand-red;

    transition: all 0.3s $brand-transition-curve;

    &:hover, &:focus {
        outline: none;
        transform: translateY(-4px);
        box-shadow: 0 7px 9px 0 rgba(0,0,0,0.08);
        background: $brand-red;
        color: #fff;
        border: 2px solid $brand-red;

    }

    &:focus {
        border: 2px solid darken($brand-red, 25%);
    }

    &:active:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 3px 9px 0 rgba(0,0,0,0.14);
        background: $brand-red;
        color: #fff;
        border: 2px solid $brand-red;
    }
}

.btn-secondary {
    font-weight: bold;
    font-size: 1em;
    height: 3em;
    line-height: 1.8em;
    background: transparent;

    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 8px;

    transition: all 0.3s $brand-transition-curve;

    &:hover {
        line-height: 1.8em;
        color: $brand-blue;
        border: 2px solid rgba(0,0,0,0.4);
    }

    &.inverted {
        color: #fff;
        border: 2px solid rgba(255,255,255,0.25);

        &:hover {
            color: #fff;
            border: 2px solid rgba(255,255,255,0.4);
        }
    }

}

// FORMS

input[type=text] {
  border: 2px solid rgba(0, 0, 0, 0.15);
  transition: all 0.3s $brand-transition-curve;

  &:focus {
    outline: none;
    border: 2px solid $brand-blue;
  }
}

.signup-form input[type=text],
.rally-form input[type=text] {
  display: block;
  height: 3em;
  font-size: 1.1em;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1em;
  padding: 0 0.5em;

   &.with-description {
    margin-bottom: 0.2em;
  }
}

// HERO

.hero-background{
    background: $brand-blue url("assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-hero {
    height: 500px;
    position: relative;

    .logo {
      margin-top: 3em;
    }

     @media screen and (max-width: $collapse-breakpoint) {
        height: auto;
    }
}

@media screen and (max-width: 764px) {
    .logo {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 20.479714%;
        margin-top: 0;
    }

    .logo svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}

nav {
    text-align: right;
    margin: 1.25em 0;
    height: 3em;
    line-height: 2.6em;

    a, a:visited {
        display: inline-block;
        margin: 0 0.75em;
        line-height: 1em;
        color: #fff;
        font-weight: bold;

        border-bottom: 1px dotted $brand-blue;

        transition: all 0.3s $brand-transition-curve;

        &:hover {
            color: #fff;
            line-height: 2.5em;
            border-bottom: 1px dotted #fff;
            text-decoration: none;
        }
    }
}

// INTRO AND SIGNUP

.intro {
    padding: 4em 0;

    @media screen and (max-width: $collapse-breakpoint) {
        padding: 2em 0;
    }
}

.signup-form,
.rally-form,
.status-panel-form {
    background: #FFFFFF;
    box-shadow: 0 13px 54px 0 rgba(0,0,0,0.23);
    border-radius: 8px;
    padding: 24px;
}

.signup-form {
    position: absolute;
    top: -320px;

    @media screen and (max-width: $collapse-breakpoint) {
        position: inherit;
        top: 0;
    }
}

.status-panel {
  margin-top: 2em;

  .logo {
    max-width: 419px;
  }
}

.status-panel-form {
  margin-top: 15px;
}

.signup-form .preference,
.rally-form .preference {
  margin-bottom: 1.5em;
  display: block;
}

.icon-call {
    margin: 0.25em 1em 2em 0;
}

#signup {

}

section {
    border-top: 4px solid $brand-red;
    margin: 2em 0;
}

.illo-comments {
    position: absolute;
    left: -70%;
}

// FOOTER

footer {
    background-color: $brand-blue;
    padding-bottom: 2em;

    h4 {
        color: #fff;
    }

    p {
        color: fade-out(#fff, 0.2);
    }

    a.link, a.link:visited {
        color: #fff;
        border-bottom: 1px dotted fade-out(#fff, 0.2);
    }
}

// RALLY PAGE

@media screen and (min-width: $collapse-breakpoint) {
    .rally-header {
        position: relative;
        width: 100%;
        height: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }
}

@media screen and (max-width: $collapse-breakpoint) {
    .rally-header > .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.rally-name {
    font-size: 120%;
}
